.home {
    color: whitesmoke;
    font-size: calc(30px + 2vmin);
}

.portfolio {
    display: flex
}

.portfolio ul {
    padding: 1rem;
    flex-direction: row
}

.portfolio-link {
    /*text-decoration: none;*/
    color: whitesmoke;
}

.about h3{
    font-size: calc(30px + 2vmin);
    color: whitesmoke;
}

.about p{
    text-align: justify;
    font-size: calc(15px + 2vmin);
    color: whitesmoke;
}

.contact p{
    color: whitesmoke;
    font-size: calc(15px + 2vmin);
}