.App {
    width: 100%;
}

.NavBar {
    float: left;
    display: inline;
    position: fixed;

    height: 100vh;
    width: 9%;

    border-bottom: solid 1px;
    padding-bottom: 1rem;

    background-color: rgb(22, 22, 22);
}

.App-logo {
    box-sizing: border-box;
    background-color: black;
    border: none;
}

.App div {
    width: 100%;

    box-sizing: border-box;

    font-size: calc(10px + 2vmin);
}

.nav-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    box-sizing: border-box;

    text-decoration: none;
    color: dimgrey;

    border-top: solid 1px rgba(40,40,40,50);
    border-bottom: solid 1px rgba(40,40,40,50);
    padding: 13px;
}

.App-header {
    display: inline;
    float: left;
    margin-left: 9%;

    min-height: 100vh;
    width: 100%;

    background-color: rgb(30, 30, 30);;
}

.App-header p {
    color: white;
    text-align: left;
    margin-left: 6%;
    font-size: calc(40px + 5vmin);
}