.NavBar {
    float: left;
    display: inline;
    position: fixed;

    height: 100vh;
    width: 9%;

    border-bottom: solid 1px;
    padding-bottom: 1rem;

    background-color: rgb(22, 22, 22);
}

.nav-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    box-sizing: border-box;

    text-decoration: none;
    color: dimgrey;

    border-top: solid 1px rgba(40,40,40,50);
    border-bottom: solid 1px rgba(40,40,40,50);
    padding: 13px;
}